.sections{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
}

@media(max-width:900px){
    .sections{
        width: 100%;
    }
}