
.menu-btn-close{
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: transparent;

    .bi{
        color: #fff;
        font-size: 3rem;
        padding: 0;
    }
}

.menu-btn{
    position:fixed;
    right: 0;
    z-index: 1;
    background: #fff;

    .bi{
        font-size: 3rem;
        padding: 0;
    }
}

.sidebar{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    position: fixed;
    overflow: auto;
    z-index: 1;
    width: 60%;
    right: 0;
    display: none;
   

    .links{
        height: 100%;
        width: 50%;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        li{
            display: flex;
            flex-direction: column;
            height: 30%;
            justify-content: space-evenly;
        }

        li a{
            text-decoration: none;
            font-size: 2rem;
            padding: 1rem;
            color: #7a7a7a;
        }

        li a:hover{
            color: #c0c0c0;
        }
    }
}