.img-profile{
    width: 40%;
    min-height: 100vh;
    background-image: url(/public/img/profile_girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
}

@media(max-width:900px){
    .img-profile{
        display: none;
    }
}

